<?php
$this->headTitle('404 Error');
?>
	
<div class="page-header">
    <div class="container">
        <h1><i class="fa fa-exclamation-circle text-danger"></i> A 404 error occurred</h1>
        <p class="lead text-danger"><?php echo $this->message ?></p>
    </div>
</div>
<div class="container">

    <div class="row">
        <div class="col-md-12">

            <?php if (isset($this->reason) && $this->reason): ?>

                <?php
                $reasonMessage= '';
                switch ($this->reason) {
                    case 'error-controller-cannot-dispatch':
                        $reasonMessage = 'The requested controller was unable to dispatch the request.';
                        break;
                    case 'error-controller-not-found':
                        $reasonMessage ='The requested controller could not be mapped to an existing controller class.';
                        break;
                    case 'error-controller-invalid':
                        $reasonMessage = 'The requested controller was not dispatchable.';
                        break;
                    case 'error-router-no-match':
                        $reasonMessage = 'The requested URL could not be matched by routing.';
                        break;
                    default:
                        $reasonMessage = 'We cannot determine at this time why a 404 was generated.';
                        break;
                }
                ?>

                <p class="lead text-danger"><?php echo $reasonMessage ?></p>

            <?php endif ?>




            <?php if (isset($this->controller) && $this->controller): ?>

                <dl>
                    <dt>Controller:</dt>
                    <dd><?php echo $this->escapeHtml($this->controller) ?>
                <?php
                if (isset($this->controller_class)
                    && $this->controller_class
                    && $this->controller_class != $this->controller
                ) {
                    echo '(' . sprintf('resolves to %s', $this->escapeHtml($this->controller_class)) . ')';
                }
                ?>
                </dd>
                </dl>

            <?php endif ?>

            <?php if (isset($this->exception) && $this->exception): ?>

                <h2>Exception:</h2>

                <p class="lead text-danger"><?php echo $this->escapeHtml($this->exception->getMessage()) ?></p>

                <h3>Stack trace:</h3>

                <pre>
                <?php echo $this->exception->getTraceAsString() ?>
                </pre>

            <?php endif ?>


        </div>
        
        
    </div>
</div>


