<?php
$this->headTitle('Page Not Found :(');
?>

<div class="container">
    <div class="row">
        <div class="page-header">
            <h1><i class="fa fa-exclamation-circle text-danger"></i> Page Not Found!</h1>
        </div>
        <div class="jumbotron">
          
            <p>Sorry, but the page you were trying to view does not exist.</p>
            <p>It looks like this was the result of either:</p>
            <div class="list-group">
                <div class="list-group-item">a mistyped address</div>
                <div class="list-group-item">an out-of-date link</div>
            </div>
            <script>
                var GOOG_FIXURL_LANG = (navigator.language || '').slice(0,2),GOOG_FIXURL_SITE = location.host;
            </script>
            <script src="//linkhelp.clients.google.com/tbproxy/lh/wm/fixurl.js"></script>
        </div>
    </div>
</div>

<?php
/**
 * Simple JS to send an event when a 404 occurs
 */
?>
<script type="text/javascript">
    if(ga !== undefined) {
        var ref = (document.referrer === "") ? "No one" : document.referrer;
        var label =
            document.location.pathname
            + ", referred by "
            + ref;
        ga('send', 'event', 'SEO', '404 Error', label, 0);
    }
</script>


