<?php
$this->headTitle('Internal Error');
?>

<div class="error-500">

<div class="page-header">
    <div class="container">
        <h1><i class="fa fa-bomb text-danger"></i> 5xx Error</h1>
        <p class="lead text-danger"><?php echo $this->message ?></p>
    </div>
</div>

<div class="container">
	<div class="row">
        <div class="col-md-12">
            
        <?php if (isset($this->display_exceptions) && $this->display_exceptions): ?>

            <?php if(isset($this->exception) && $this->exception instanceof Exception): ?>

                <h2>Additional information:</h2>
                <h3><?php echo get_class($this->exception); ?></h3>
                <dl>
                    <dt>File:</dt>
                    <dd>
                        <pre class="prettyprint linenums"><?php echo $this->exception->getFile() ?>:<?php echo $this->exception->getLine() ?></pre>
                    </dd>
                    <dt>Message:</dt>
                    <dd>
                        <pre class="prettyprint linenums text-danger"><?php echo $this->exception->getMessage() ?></pre>
                    </dd>
                    <dt>Stack trace:</dt>
                    <dd>
                        <pre class="prettyprint linenums"><?php echo $this->exception->getTraceAsString() ?></pre>
                    </dd>
                </dl>

                <?php
                $e = $this->exception->getPrevious();
                if ($e) :
                ?>
            
                <hr>
                <h2>Previous exceptions:</h2>
                <ul class="list-unstyled">
                    <?php while($e) : ?>
                    <li>
                        <h3><?php echo get_class($e); ?></h3>
                        <dl>
                            <dt>File:</dt>
                            <dd>
                                <pre class="prettyprint linenums"><?php echo $e->getFile() ?>:<?php echo $e->getLine() ?></pre>
                            </dd>
                            <dt>Message:</dt>
                            <dd>
                                <pre class="prettyprint linenums text-danger"><?php echo $e->getMessage() ?></pre>
                            </dd>
                            <dt>Stack trace:</dt>
                            <dd>
                                <pre class="prettyprint linenums"><?php echo $e->getTraceAsString() ?></pre>
                            </dd>
                        </dl>
                    </li>
                    <?php
                        $e = $e->getPrevious();
                        endwhile;
                    ?>
                </ul>
                <?php endif; ?>

            <?php else: ?>

                <h2>No Exception available</h2>

            <?php endif ?>

        <?php endif ?>

			
		</div>
	</div>
</div>

<div>