<?php
$this->headTitle('Internal Error');
?>
<div class="container">
    <div class="row">
        <div class="page-header">
            <h1><i class="fa fa-bomb text-danger"></i> Internal Server Error</h1>
        </div>
        <div class="jumbotron">
          
            <p class="text-danger">Sorry, but something has gone wrong.</p>
            <p>It's likely that this is a temporary but we've beed alerted to the issue and
            an engineer is at this very moment rushing to fix the problem.</p>
        </div>
    </div>
</div>

<?php
/**
 * Simple JS to send an event when a 500 occurs
 */
?>
<script type="text/javascript">
    if(ga !== undefined) {
        var ref = (document.referrer === "") ? "No one" : document.referrer;
        var label =
            document.location.pathname
            + ", referred by "
            + ref;
        ga('send', 'event', 'SEO', '500 Error', label, 0);
    }
</script>


