<?php
$this->headTitle()->append('Site Map');
$this->headMeta()->setName('description', 'The obligatory site map');
?>
<div class="page-header">
	<h1>Site Map</h1>
</div>

<div class="row">
	<div class="span8">
		<div class="well well-large">
			<?php echo $this->navigation('default-nav')->menu(); ?>
		</div>
	</div>
</div>
